
.body-cards {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background: #f4f4f4;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .weather-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
    max-width: 600px;
    width: 100%;
    
  }
  
  .card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .bigcard{
    grid-column: span 2; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .bigcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .stat{
        font-size: 2em;
        font-weight: bold;
        margin: 10px 0;
        color: #333;
      }
.botnav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:grey;
    text-decoration: none;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
           
}
.botnav li{
    text-decoration: none;

    flex: 1;
  text-align: center;
}
.botnav ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
}
.content{
    text-decoration: none;
flex: 1;
padding: 20px;
}
.body-buttons {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 900px;  
    padding: 20px;
    
  }
  
  .weather-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;  
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 100px;
  }
  .weather-card:hover{

    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15)
  }